/* - 1 one - */

/* ###### variable | color ###### */
$bluesky: #6cb0f6;
$gray: #727272;


/* ###### FONT and BACKGROUND ###### */
/* Background top */
body {
    font-family: 'Josefin Sans', 'Lato', sans-serif;
    background-image: url(../image/headerbanner.png),
                      url(../image/centerbanner.png),
                      url(../image/footerbanner.png),
                      url(../image/Rectanglefinal.png);

    background-position: 50% 0%, 50% 55%, 50% 102%, 50% 122%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1930px 940px, 1920px 750px, 1920px 670px, 1920px 2px;
    background-attachment: scroll;

    
}

/* ###### MARGIN page ###### */

  .bloc_page {
      margin: 0em 23.438em 0em;
  }

/* ###### Logo + text TOP/LEFT ###### */ 
#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    top: -0.5rem;
    max-width: 90px;
    & > img {
        width: 35px;
        height: 30px;
    }
    & > p {
        font-size: 1.5em;
        font-weight: 600;
        color: white;
        text-shadow: 0px 0px 3.5px $bluesky;
    }
}

/* ###### Nav TOP/RIGHT ###### */
.navBar {  
    display: flex;
    justify-content: flex-end;
    text-shadow: 0px 0px 4px $bluesky;
    & ul {
        list-style-type: none;
        display: flex;          
    }
    & li {
        margin-right: 117px;
    }
    & a {
        font-size: 0.9em;
        color: #ffffff;
        padding-bottom: 10px;
        text-decoration: none;
        font-style: normal;
        text-rendering: auto;
        &:hover {
            color: #eeeeee;
            border-bottom: 1.5px solid #ffffff;
        }
    }
}

.navBar{
    & a:hover {
        text-shadow: 0px 0px 20px $bluesky;
        filter: saturate(900%);
        -webkit-filter: saturate(900%);
    }
    & li:hover {
        transform: scale(1.6);
    
    }
    #navBar--noMarge {
        margin-right: 1px;
    }
}

header {
    color: white;
}

/* ###### Container text and pix ###### */
.container01 {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin-left: 0em;
    margin-top: 5.5em;
    // ###################################################### --> wait for test card MAIN
    border: 1px solid rgba(255, 110, 166, 0.01);
    border-radius: 5%;
    box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.15);
    padding: 25px;
}

/* ###### container text LEFT ###### */
.helloWorld {
  
    margin-left: 0.5em;
    margin-top: 11em;
    max-height: 260px;
    & > h1 {
        font-size: 3.5em;
        font-weight: 550;
        font-family: 'Josefin Sans', sans-serif;
        text-shadow: 0px 0px 3.5px $bluesky;      
    }
    & > h2 {
        font-size: 1.625em;
        font-weight: normal;
        font-style: italic;
        font-family: 'Lato', sans-serif;
        margin-bottom: 3px;
        margin-top: 1.1em;
    }
}

/* ###### Button contact LEFT ###### */
.contactMe {
    font-size: 1em; 
    background-color: white;
    padding: 0.063em;
    border-radius: 50px / 50px;
    width: 170px;  
    text-align: center;
    margin-top: 3.2em;
    
    color: $bluesky;
    box-shadow: 0px 0px 5px $bluesky;
    transform: scale(1);
    transition: transform 300ms;
        & a:hover {
            color: $bluesky;
            text-decoration: none;
            font-size: 1.07em;
            filter: saturate(200%);
            -webkit-filter: saturate(200%);      
        }
        &:hover {
            filter: saturate(200%);
            -webkit-filter: saturate(200%);
            box-shadow: 0px 0px 22px $bluesky;
            transform: scale(1.15);
            animation: balanciercontact 100ms cubic-bezier(.4,.1,.6,.9) 2;
            @keyframes balanciercontact {
                25% {        
                    transform: translateX(2%);
                }
                75% {        
                    transform: translateX(2% * -1);
                }
            }
        }
        & a:link {
            color: $bluesky;
            text-decoration: none;      
    }
    & a:visited {
        color: $bluesky;
        text-decoration: none;
    } 
}

/* ############### Responsive ################# */