/* - 1 one - */

// property variable
// variable color
$bluesky: #6cb0f6;
$gray: #727272;
$centerbanner: #f8f9fb;

// Border BOX
* {

    box-sizing: border-box;
    
}

// SCROLL BAR
::-webkit-scrollbar {

    width: 8px;
    height: 8px;

}
::-webkit-scrollbar-thumb {

    // #e66465 14% FIRST COLOR
    // background: linear-gradient(13deg, #9198E5 14%,#9198E5 64%);
    background: linear-gradient(13deg, $bluesky 14%, $bluesky 64%);
    border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover{

    background: linear-gradient(13deg, #c7ceff 14%, 64%);

}
::-webkit-scrollbar-track{

    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;

}

// Little reset CSS
html, body {

    // cut default margin and padding
    margin: 0;
    padding: 0;
    overflow-x: hidden; // enleve la bar de scroll en en cas de depassement

    font-family: 'Josefin Sans', 'Lato', sans-serif;

}

// HEADER config - background and size -
header {

    //background-image: url(../image/headerbanner.png);
    //background: linear-gradient(60deg, #ffdc80, #fcaf45, #f77737, #f56040, #FD1D1D, #E1306C, #c13584, #833AB4, #5851db, #405DE6);

    background: linear-gradient(60deg, #ffdc80, #fcaf45, #f77737, #f56040, #FD1D1D, #E1306C, #c13584 60%, #833AB4, #5851db , #405DE6 120%);
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 100vw;
    height: 100vh;

    min-height: 100vh;
    min-width: 100vw;

    // FONT 
    font-family: 'Josefin Sans', 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-x: hidden;



}





// - LOGO config -
.topbar-logo {

    display: flex;
    margin: 3.2px;
    position: fixed;
    left: -2px;
    top: -3px;

    & img {

        // logo size
        width: 50px;
        height: 50px;

    }

    & p {
 
        margin: 0;
        margin-top: 3.5px;

        font-size: 24px;
        text-shadow: 0px 0px 0.25em $bluesky;

    }

}

// - NAV config -
// fake double topbar. I used it to create the same type of content as the header so as not to use the margins
.topbar-nav::before {

    content: '';
    display: block;
    width: 540px;

}

.topbar {

    margin: 2em 0em 3em 0;
    

    .topbar-nav {
        
        display: flex;
        justify-content: space-around;
        
        & ul {

            display: flex;
            padding: 0;
            margin: 0;

        }

        & li {

            list-style-type: none;
            margin-left: 6em;
            border: none;
            font-weight: 300;
            letter-spacing: 1px;

            white-space: nowrap;

            &:hover {

                transform: scale(1.4);

                text-decoration: none;
                text-underline-position: under;

            }

            &:first-child {

                margin-left: 0;

            }

        }

        & a {

            color: white;
            text-decoration: none;
            font-size: 19px;
            
            &:hover {
                
                text-shadow: 1px 0px 10px white;
                color: $bluesky;
                filter: saturate(900%);

            }

        }

    }

}






// HEADER - TEXT and PICTURE config -
.header {

    display: flex;
    justify-content: space-around;
    margin: 0em 0em 0em 0em;

    // HEADER text 
    & div {

        font-size: 21.5px;

        & h2 {

            font-size: 22px;
            font-weight: 300;
            padding-left: 0.1em;
            margin: 0;

            font-family: 'Lato', 'Josefin Sans',  sans-serif;
            text-shadow: 0px 0px 3.5px $bluesky;
            letter-spacing: 1px;

            white-space: nowrap; // empeche le retour a la ligne 

        }

        & h1 {

            font-size: 48px;
            font-weight: 500;
            margin: 0 0 10px 0;
            min-height: 60px;
            min-width: 550px;
            text-align: start;
            
            text-shadow: 0px 0px 3.5px $bluesky;
            letter-spacing: 1px;

            white-space: nowrap; // empeche le retour a la ligne 
        }

        & a {

            display: block;

            padding: 12px 1px;

            margin: 35px 0em 0em 0.2em;
            max-width: 160px;
            
            font-size: 18px;
            font-weight: 400;
            border: 1.65px solid $bluesky;
            border-radius: 10px;
            background-color: white;
            color: $bluesky;
            text-align: center;
            text-decoration: none;

            &:hover {

                transform: scale(1.05);
                box-shadow: 0px 0px 30px 0px $bluesky;
                filter: saturate(900%);
                


                // EFFECT ROTATION BUTTON
                
                transform-origin: top center;             
                animation-name: swing;              
                animation-duration: 1s;
                animation-fill-mode: both;
            
                @keyframes swing {

                    20% {
                    transform: rotate3d(0, 0, 1, 5deg);
                    }

                    40% {
                    transform: rotate3d(0, 0, 1, -5deg);
                    }

                    60% {
                    transform: rotate3d(0, 0, 1, 2.5deg);
                    }
                    
                }
            }  
        }
    }

    & .header-text {
        
        margin: 0;
        align-self: center;

    }

    & .header-text-effect {

        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
        opacity: 0.5;
        font-size: 36px; // 4px decart avec h1

    }

}

// Effect - picture HEADER - and config
.header-picture {

    // EFFET sur la photo / prend pas en compte le box, mais le contour de la photo sans transparence
    filter: drop-shadow(0 -6mm 4mm rgba(160, 0, 210, 0.5));

    // Responsive picture
    width: 40vw;
    height: auto;
    
    min-width: 633px;
    max-width: 700px;
    
}

// ASIDE - arrow content config -
.header-arrow {

    display: flex;
    justify-content: center;
    margin-bottom: 10px;


    & img {

        width: 28px;
        height: 14px;
        opacity: 0.4;

    }

}

// - ANIMATION arrow -
.header-arrow img {

    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    
    
    @-webkit-keyframes bounce {
        0%, 20%, 53%, 80%, 100% {

            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transform: translate3d(0,0,0);

        }
        40%, 43% {

            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transform: translate3d(0, -30px, 0);

        }
        70% {

            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transform: translate3d(0, -15px, 0);

        }
        90% {

            transform: translate3d(0,-4px,0);
        }
    }
    
    @keyframes bounce {
        0%, 20%, 53%, 80%, 100% {

            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transform: translate3d(0,0,0);

        }
        40%, 43% {

            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transform: translate3d(0, -30px, 0);

        }
        70% {

            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transform: translate3d(0, -15px, 0);

        }
        90% {

            transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
            
        }
    } 

}


// TEST POUR EFFET !!!!
/*
.header-text {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    } 


.topbar-nav {
    -webkit-animation-name: topbar-nav;
    animation-name: topbar-nav;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    }
    @keyframes topbar-nav {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes topbar-nav {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    } 

.header-picture {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: header-picture;
    animation-name: header-picture;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 550ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    }
    @-webkit-keyframes header-picture {
    0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    }
    @keyframes header-picture {
    0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    }    
*/
