/* - 2 two - */

/* ###### variable | color ###### */
$bluesky: #6cb0f6;
$gray: #727272;

/* ###### Div block description ###### */
.container02 {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 12em;
    z-index: 1;
    /* ###### Picture profil 02 LEFT ###### */
    .pixProfil02 {
        position: relative;
        right: 4.2em;
        max-width: 550px;
        max-height: 938px;
    }  
}

/* ###### text_bottom picture LEFT ###### */
.MiniDescription p {   
    display: flex;
    position: relative;
    max-width: 250px;
    max-height: 57px;
    z-index: 2;
    bottom: 10em;
    left: 12em;
}

.MiniDescription strong {
font-weight: 800;
text-decoration: underline;
}  

.MiniDescription, .MiniDescriptionII {
    font-family: 'Lato', 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: #232323;
    max-width: auto;
    max-height: auto;
}

.MiniDescriptionII p {
    display: flex;
    position: relative;
    max-width: 200px;
    max-height: 90px;
    z-index: 2;
    bottom: 23.3em;
    left: 1.5em;
}

/* ###### link social network's LEFT ###### */
.Rsociaux {
    display: flex;
    position: relative;
    z-index: 2;
    max-width: 380px;
    bottom: 21em;
    left: 1.8em;
    & a {
        margin-right: 8em;
    }
    /* ###### NO MARGIN ###### */
    #Nomarge2 {
        margin-right: -8em;
        margin: 0;
        padding: 0;
    }
}

/* ###### DIV ALL TEXT RIGHT ###### */

article {
    max-width: 580px;
    max-height: 900px;
}

#textAll {
    position: relative;
    top: 3.1em;
    & > p {
    color: $gray;
    font-size: 0.9em;
    font-weight: 350;
    text-align: justify;
    max-width: 552px;
    max-height: 135px;
    }
    & > h2 {
    font-size: 2.8em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: 700;
    }
}

.textTwo {
    margin-bottom: 2em;
    font-size: 1.25em;
    color: #686868;
    font-weight: 400;
}

.textThree {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

/* ###### Picture % and skill text ###### */
#blockTextAndPix {
    max-height: 330px;
    & img {
        z-index: 2;
        margin-top: 2.3em;
        bottom: 0em;
    }
}



#skillText {
    display: block;
    position: relative;
    bottom: 21em;
    z-index: 1;
    & p {
        margin-top: 3.9em;
        font-weight: 300;
        font-style: oblique;
        color: #616161;
    }
}

/* ###### download button cv ###### */
.downloadCV {
    display: inline;
    position: absolute;
    z-index: 3;
    top: 47em;
    left: 0em;
    right: 0em;
    background-color: $bluesky;
    border-radius: 50px / 50px;
    width: 30%;
    color: white;
    box-shadow: 0px 0px 5px $bluesky; 
    transform: scale(1);
    transition: transform 300ms;
    @keyframes balancierdl {
        25% {        
            transform: translateX(2%);
        }
        75% {        
            transform: translateX(2% * -1);
        }
    }
    & p {
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        padding: 2% 0% 0% 0%;
        border-width: 15px 15px 15px 15px;
        color: #ffffff;
    }
    & a:hover {
        color: $bluesky;
        text-decoration: none;
        font-size: 1.015em;      
    }   
    &:hover {
        box-shadow: 0px 0px 15px $bluesky;
        transform: scale(1.05);
        animation: balancierdl 100ms cubic-bezier(.4,.1,.6,.9) 2;
    }
    & a:link {
        color: #ffffff;
        text-decoration: none;      
    }
    & a:visited {
        color: #ffffff;
    }
}








