/* - 2 two - */

/* ###### variable | color ###### */
$bluesky: #6cb0f6;
$gray: #727272;

.container02 {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-height: 1100px;
    top: 22em;
    z-index: 1;
    /* ###### Picture profil 02 LEFT ###### */
    #pixProfil02 {
        position: relative;
        right: 2.2em;
        max-width: 550px;
        max-height: 938px;
    }  
}

/* ###### text in bottom picture LEFT ###### */
.textINpix {
    font-family: 'Lato', 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: #232323;
    display: flex;
    position: relative;
    bottom: 2em;
    left: 3em;
    z-index: 3;
    & ul {
        list-style-type: none;  
    }
    .ulLEFT {
        position: relative;
        bottom: 0.3em;
        font-weight: bold;
        padding: 0px;
        & > li {
            margin-top: 1.1em;
        }    
    }
    .ulRIGHT {
        position: relative;
        left: 3em;
        padding: 0px;
        max-width: 220px;
        & > li {
            margin-top: 1em;
        }
    }       
}

/* ###### link social network's LEFT ###### */
.Rsociaux {
    display: flex;
    position: relative;
    z-index: 2;
    max-width: 380px;
    margin-right: 0;
    top: 1em;
    left: 3.75em;
    & a {
        margin-right: 8em;
    }
    /* ##### effect dark / light ##### */
    & img {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    }
    & img:hover {
        transform: scale(1.2);
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: saturate(200%);
        -webkit-filter: saturate(200%);
    }
    /* ###### NO MARGIN ###### */
    #Nomarge2 {
        margin-right: -8em;
        margin: 0;
        padding: 0;
    }
}

/* ###### ALL TEXT RIGHT ###### */
article {
    max-width: 580px;
    max-height: 900px;
}

#textAll {
    position: relative;
    top: 3.1em;
    & > p {
    color: $gray;
    font-size: 0.9em;
    font-weight: 350;
    text-align: justify;
    max-width: 552px;
    max-height: 135px;
    }
    & > h2 {
    font-size: 2.8em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: 700;
    }
}

.textTwo {
    margin-bottom: 2em;
    font-size: 1.25em;
    color: #686868;
    font-weight: 400;
}

.textThree {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 1.8em;
}

/* ###### Picture [ % ] and skill text ###### */
#blockTextAndPix {
    max-height: 330px;
    & img {
        z-index: 2;
        margin-top: 2.3em;
        bottom: 0em;
    }
}

#skillText {
    display: block;
    position: relative;
    bottom: 21em;
    z-index: 1;
    & p {
        margin-top: 3.9em;
        font-weight: 300;
        font-style: oblique;
        color: #616161;
    }
}

/* ###### download button cv ###### */
.downloadCV {
    display: inline;
    position: absolute;
    z-index: 3;
    top: 46.7em;
    left: -0.5em;
    right: 0em;
    background-color: $bluesky;
    border-radius: 50px / 50px;
    width: 30%;
    color: white;
    box-shadow: 0px 0px 5px $bluesky; 
    transform: scale(1);
    transition: transform 300ms;
    @keyframes balancierdl {
        25% {        
            transform: translateX(2%);
        }
        75% {        
            transform: translateX(2% * -1);
        }
    }
    & p {
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        padding: 2% 0% 0% 0%;
        border-width: 15px 15px 15px 15px;
        color: #ffffff;
    }
    & a:hover {
        color: $bluesky;
        text-decoration: none;
        font-size: 1.015em;
        filter: saturate(200%);
        -webkit-filter: saturate(200%);      
    }   
    &:hover {
        box-shadow: 0px 0px 15px $bluesky;
        transform: scale(1.05);
        animation: balancierdl 100ms cubic-bezier(.4,.1,.6,.9) 2;
        filter: saturate(200%);
        -webkit-filter: saturate(200%);
    }
    & a:link {
        color: #ffffff;
        text-decoration: none;      
    }
    & a:visited {
        color: #ffffff;
    }
}