/* - 3 three - */

// property variable
// variable color
$bluesky: #6cb0f6;
$gray: #727272;
$centerbanner: #f8f9fb;

// Container EXP
.EXP {

    background: $centerbanner;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 100vw;
    height: 90vh;
    min-height: 972px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 6em 20em 6em 20em;
    margin-bottom: 10em;

    &-legend {

        //margin: 0 0 29px 185px;
        
        & h2 {

            font-size: 40px;
            letter-spacing: 2px;
            font-weight: 900;
            margin: 0 0 70px 0;
            font-style: italic;

            white-space: nowrap;

            &::first-letter {

                letter-spacing: 0;
                font-size: 50px;
                color: #7272728c;
                font-weight: 600;
                font-style: normal;

            }

            & span {

                color: $gray;
                font-size: 35px;
                font-weight: 300;

            }

            & em {

                color: $gray;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 10px;
                font-style: normal;

            }

        }


        & h3 {

            margin: 0 0 100px 0 ;
            color: $gray;
            font-weight: 300;
            letter-spacing: 1.5px;
            font-style: italic;

        }

    }

}

// List LEFT and RIGHT <-- Container EXP
#EXP-list {

    display: flex;
    justify-content: space-between;

    & h4 {

        font-size: 28px;
        margin: 0px 0 80px 0;

    }

    & p {

        font-size: 18px;
        color: $gray;
        font-weight: 300;

        min-height: 110px;
        margin:0 0 0 15px;

    }

    & strong {

        display: inline-block;

        color: black;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;

    }

}

// Items IMG and P <-- Container EXP
.EXP-items {

    display: flex;
    
    & img {

        max-width: 40px;
        max-height: 40px;
        flex-grow: 1;
       
        margin-top: 5px;

    }
}

// List LEFT Modifier <-- Container EXP
.EXP-list-L {

    margin-right: 3em;

}

