/* - 3 three - */

/* ###### variable | color ###### */
$bluesky: #6cb0f6;
$gray: #727272;

/* ###### professional experience ###### */
#XPpro {
    display: block;
    position: relative;
    top: 3.5em;
    z-index: 2;
    & img {
        position: relative;
        top: 0.9em;
        right: 3.5em;
    }
    & h2 {
        font-size: 2.5em;
        color: black;
        display: block;
        position: relative;
        max-width: 400px;
        top: 2.9em;
    }
    
    & em {
        font-size: 0.4em;
        font-weight: 550;
        color: $gray;
    }
    
    & span {
        font-size: 1em;
        font-weight: 200;
        color: $gray;
    }
    
    & h3 {
        font-size: 0.9em;
        font-weight: 450;
        color: $gray;
        margin-top: 8em;
        margin-bottom: 4.5em;
        display: block;
        position: relative;
        max-width: 300px;
        left: 0.3em;
        top: 3em;
    }
    
    & h4 {
        font-size: 1.5em;
        font-weight: 700;
        color: black;
        margin-bottom: 2em;
        max-width: 150px;
    }
    
    & p {
        text-align: justify;
        font-size: 0.9em;
        font-weight: 350;
        color: $gray;
        position: relative;
        left: 3.5em;
        top: 2em;
    }
    
    & strong {
        text-align: justify;
        font-size: 1.4em;
        font-weight: 550;
        color: black;
        position: relative;
        right: 2em;
        bottom: 0.8em;
    }
}

/* ###### List LEFT and RIGHT ###### */
.Llist, .Rlist {
    display: inline-block;
    position: relative;
    & p + p {
        margin-top: 3em;
    }
}

/* ###### list Position ###### */
.Llist {
    left: 0.2em;
    bottom: 0em;
}

.Rlist {
    left: 22em;
    top: 0.2em;
}
