/* - 4 four - */

// variable color
$bluesky: #6cb0f6;
$gray: #727272;
$centerbanner: #f8f9fb;

//Title 
.project {

    display: flex;
    align-items: baseline;
    justify-content: center;

    & h2 {

        margin: 0 0 0.5em 0;
        
    }

    & a {

       
        text-decoration: inherit;
        color: $gray;
        font-size: 15px;
        margin-left: 25px;
        padding: 9px 10px 9px 12px;
        border: 1px solid transparent;

        letter-spacing: 3px;

        &:hover {

            color: $bluesky;
            border: 1px solid $bluesky;
            border-radius: 7px;
            
            filter: saturate(900%);
            -webkit-filter: saturate(300%);
            
            transform: scale(1.1);
            padding: 9px 10px 9px 12px;

            box-shadow: 0 0 40px 1px rgba(108, 176, 246, 0.2);

        }

    }

}


// SLIDER PROJECT config
li {

    list-style: none;

}

.inputNONE {

    display: none;

}

// CONTENT SLIDER
.slider {

    position: relative;
    width: 60%;
    height: 65vh;

    margin: 0 auto 24em auto;

  }


.slider_item {

    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transform-origin: right center;
    transform: translate3d(0%, 0%, 0) rotateY(30deg) scaleX(0.95);
    transition: all 1s ease,transform 1s cubic-bezier(0.43, 0.28, 0.51, 1);

}

#s-1:checked ~ .slider .slider_item.img-1,
#s-2:checked ~ .slider .slider_item.img-2,
#s-3:checked ~ .slider .slider_item.img-3,
#s-4:checked ~ .slider .slider_item.img-4,
#s-5:checked ~ .slider .slider_item.img-5,
#s-6:checked ~ .slider .slider_item.img-6,
#s-7:checked ~ .slider .slider_item.img-7 {

    opacity: 1;
    visibility: visible;
    transform-origin: left center;
    transform: translate3d(0, 0, 0) rotateY(0deg) scaleX(1);
    padding: 0 2em 2em 2em;

}

.slider_img {

    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;

}

.c-img-w-full {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate3d(-50%, -50%, 0);
    
    border: 3px solid $bluesky;
    border-radius: 15px;

}

// just use for a new project     ############## WAIT ############
.iconNew {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 10%;
    height: auto;
    
    z-index: 9999;

}


figcaption {

    display: block;

}

// Label project 
.h3 {

    margin-top: 4.8rem;
    margin-bottom: 1.8rem;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid $bluesky;

    & .c-label {

        display: inline-block;
        color: #eee;
        background-color: rgba(108, 176, 246, 0.9);
        border-radius: 5px;
        line-height: 1;
        padding: 0.5em 0.9em;
        margin-right: 0.5em;
        font-size: 1.4rem;
        font-weight: bold;

    }

}

// text label project
.credit {

    color: $gray;
    line-height: 2em;
    margin: 8px 0;
    padding: 0;

}

// flexbox CREDIT and BUTTON
.moreinfo {

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 20px;

    & strong {

        border: 1px solid $bluesky;
        border-radius: 3px;
        background-color: $bluesky;

        color: white;
        padding: 7px 7px 5px 7px;
        letter-spacing: 1px;
        font-weight: 500;
        
    }
    
    & a {

        text-decoration: none;
        color: $bluesky;

        &:hover {

            text-decoration: underline;

        }

    }

    & > a {

        &:hover {
    
            transform: scale(1.05);
            box-shadow: 0px 0px 30px 0px $bluesky;
            filter: saturate(900%);
            -webkit-filter: saturate(300%); 
    
    
            // EFFECT ROTATION BUTTON
            -webkit-transform-origin: top center;
            -ms-transform-origin: top center;
            transform-origin: top center;
            -webkit-animation-name: swing;
            animation-name: swing;
            -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        
            @keyframes swing {

            20% {
                -webkit-transform: rotate3d(0, 0, 1, 5deg);
                transform: rotate3d(0, 0, 1, 5deg);
                }

            40% {
                -webkit-transform: rotate3d(0, 0, 1, -5deg);
                transform: rotate3d(0, 0, 1, -5deg);
                }

            60% {
                -webkit-transform: rotate3d(0, 0, 1, 2.5deg);
                transform: rotate3d(0, 0, 1, 2.5deg);
                }
                
            } 
    
        }
    
        & p {
    
            margin: 0;
            color: white;
            font-size: 20px;
            background-color: $bluesky;
            border: 0.5px solid white;
            border-radius: 5px;
            padding: 10px 15px;
    
        }
    
    }

}


.view-sm {

    display: none;

}

// Controle position NAVIGATION
.slider_nav {

    position: absolute;
    left: 0;
    top: 95%;
    width: 100%;
    transform: translate3d(0, -50%, 0);

    z-index: 99999;

}

.slider_nav_item.prev {

    left: 0;
    margin-left: 15px;

}

.slider_nav_item.next {

    right: 0;
    transform: rotateY(180deg);
    margin-right: 15px;

}

.slider_nav_item {

    position: absolute;
    display: none;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid $bluesky;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);

}

.slider_nav_item:before {

    content: "";
    display: block;
    position: absolute;
    left: 0.7rem;
    top: 55%;
    width: 1rem;
    height: 1px;
    background-color: $bluesky;
    transform-origin: left bottom;
    transform: translate3d(0, -50%, 0) rotate(-45deg);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);

}

.slider_nav_item:hover {

    transform: translate3d(-30%, 0, 0);

}

.slider_nav_item.next:hover {

    transform: rotateY(180deg) translate3d(-30%, 0, 0);

}

.slider_nav_item:hover:before {

    transform: translate3d(0, -50%, 0) rotate(-30deg);

}

.slider_nav_item:after {

    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 2rem;
    height: 1px;
    background-color: $bluesky;
    transform: translate3d(-50%, -50%, 0);

}

#s-1:checked ~ .slider .slider_nav .s-nav-1,
#s-2:checked ~ .slider .slider_nav .s-nav-2,
#s-3:checked ~ .slider .slider_nav .s-nav-3,
#s-4:checked ~ .slider .slider_nav .s-nav-4,
#s-5:checked ~ .slider .slider_nav .s-nav-5,
#s-6:checked ~ .slider .slider_nav .s-nav-6,
#s-7:checked ~ .slider .slider_nav .s-nav-7 {

    display: block;

}

// Controle position INDICATOR NAV
.slider_indicator {

    position: absolute;
    left: 0;
    top: 94%;
    width: 100%;
    text-align: center;
    margin-top: 1em;

}

.slider-indi {

    position: relative;
    display: inline-block;
    padding: 1rem;
    cursor: pointer;

}

.slider-indi:after {

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 1rem;
    background: $bluesky;
    transform: translate3d(-50%, -50%, 0);

}

.slider-indi:hover:after {

    transform: translate3d(-50%, -50%, 0) scale(1.5);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);

}

#s-1:checked ~ .slider .slider_indicator .indi-1:after,
#s-2:checked ~ .slider .slider_indicator .indi-2:after,
#s-3:checked ~ .slider .slider_indicator .indi-3:after,
#s-4:checked ~ .slider .slider_indicator .indi-4:after,
#s-5:checked ~ .slider .slider_indicator .indi-5:after,
#s-6:checked ~ .slider .slider_indicator .indi-6:after,
#s-7:checked ~ .slider .slider_indicator .indi-7:after {

    transform: translate3d(-50%, -50%, 0) scale(2.5);

}
