/* - 4 four - */

/* ###### variable | color ###### */
$bluesky: #6cb0f6;
$gray: #727272;

.myJob {
    text-decoration: none;
    & h2 {
        display: block;
        position: relative;
        max-width: 780px;
        z-index: 2;
        top: 9em;
        margin-left: 0.5em;
        font-size: 2.5em;
        color: black;
    }
    & span {
        font-size: 1em;
        font-weight: 200;
        color: $gray;
    }
    & strong {
        font-size: 0.4em;
        font-weight: 500;
        color: $gray;
    }
    /* ###### little nav ###### */
    & a {
        margin-right: 1.5em;
        color: $gray;
    }

    /*##### link modifier margin ##### */
    .link--modif {
        margin-left: 3.5em;
    }

    h2 a:hover {
        color: $bluesky;
        text-decoration: none;       
        text-shadow: 0px 0px 4px $bluesky;    
    }

    & a:link {
        color: $bluesky;
        text-decoration: none;      
    }

    & a:visited {
        color: $gray;
        text-decoration: none;
    }
}


/* ###### video project ###### */
.videoProject {
    position: relative;
    max-width: 1050px;
    top: 25em;
    & > video {
        margin-left: 1.4em;
    }   
}
