/* - 5 five - */

/* ###### variable | color ###### */
$bluesky: #6cb0f6;
$gray: #727272;

/*
#footerbanner {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 93em;
    z-index: 1;
}
*/

/* ###### (img) three point ###### */

#Petitpoint {
    display: flex;
    position: relative;
    z-index: 2;
    float: right;
    top: 60em;
    right: 36.2em;
}
