/* - 5 five - */

// variable color
$bluesky: #6cb0f6;
$gray: #727272;
$centerbanner: #f8f9fb;

.cover {

    background: linear-gradient(60deg, #ffdc80, #fcaf45, #f77737, #f56040, #FD1D1D, #E1306C, #c13584 60%, #833AB4, #5851db , #405DE6 120%);
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 100vw;
    height: 85vh;
    min-height: 925px;

}

// test  
.slider__container {

  height: 100%;
  position: relative;
  top: -3.5em;               // A Vérifier 
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;

}

.slider__nav {

  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid rgb(255, 255, 255);
  outline-offset: -6px;
  box-shadow: 0 0 0 0 rgba(108, 176, 246), 0 0 0 0 rgba(108, 176, 246, 0);
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;

}

.slider__nav:checked {

  animation: check 0.4s linear forwards;

}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {

  left: 0%;

}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {

  left: -100%;

}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {

  left: -200%;

}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {

  left: -300%;

}

// ALL SLIDE
.slider__inner {

  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;

  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;

}

// CONTENT SLIDE
.slider__contents {

  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

}

// INPUT COLOR
.slider__image {

  font-size: 2.7rem;
  color: #2196F3;

}

// TITLE
.slider__caption {

  font-weight: 500;
  margin: 2rem 0 1rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  color: $bluesky;
  line-height: 1.4em;
  

  &::after {

    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $bluesky;

    margin: 1em 0 0.5em 0;
    


  }

}

// TEXTE
.slider__txt {

  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-bottom: 3rem;
  max-width: 415px;
  font-weight: 300;

  line-height: 1.2em;

}

@keyframes check {

  50% {

  outline-color: $bluesky;
  box-shadow: 0 0 0 12px $bluesky, 0 0 0 36px rgba(108, 176, 246, 0.2);

  }

  100% {

  outline-color: $bluesky;
  box-shadow: 0 0 0 0 $bluesky, 0 0 0 0 rgba(108, 176, 246, 0);

  }
}

@keyframes check {

  50% {

  outline-color: $bluesky;
  box-shadow: 0 0 0 10px $bluesky, 0 0 0 36px rgba(108, 176, 246, 0.2);

  }

  100% {

  outline-color: $bluesky;
  box-shadow: 0 0 0 0 $bluesky, 0 0 0 0 rgba(108, 176, 246, 0);

  }
}

// PICTURE
.slider__picture  {

  max-width: 250px;
  height: auto;
  border-radius: 50%;
  border: 2px solid $bluesky;

}
