// property variable
// variable color
$bluesky: #6cb0f6;
$gray: #727272;
$centerbanner: #f8f9fb;



// ALL 

// cut button animation
@media only screen and (max-width: 800px) {

    .buttonsubmit {

        & button {

            &:hover {

                animation-name: none;
                animation-duration: 0s;

            }

        }

    }


    .moreinfo {
           
        & > a {
    
            &:hover {
        
                animation-name: none;
                animation-duration: 0s;
     
            }
        
        }
    
    }

}

@media only screen and (max-width: 570px) {

    .header {

        // HEADER text 
        & div {
    
            & a {
    
                &:hover {

                    animation-name: none;
                    animation-duration: 0s;

                }  
            }
        }

    }


    .moreinfo {
           
        & > a {
    
            &:hover {
        
                animation-name: none;
                animation-duration: 0s;
     
            }
        
        }
    
    }

}


// animation MOBILE 
@media only screen and (max-width: 1200px) {

        // Opacity 0
    .reveal-L { 

        opacity: 0;
        transform: translateY(150px);;

    }

    .reveal-R {

        opacity: 0;
        transform: translateY(150px);

    }

    // Opacity 1 + animation transition
    .reveal-visible-L {

        opacity: 1;
        transform: translateY(0);
        transition: 500ms cubic-bezier(.5, 0, 0, 1);

    }

    .reveal-visible-R {

        opacity: 1;
        transform: translateY(0);
        transition: 500ms cubic-bezier(.5, 0, 0, 1);

    }






    // Background header
    .reveal-background {

        opacity: 0;
        background: linear-gradient(60deg, #ffdc80, #fcaf45, #f77737, #f56040, #FD1D1D, #E1306C, #c13584 60%, #833AB4, #5851db , #405DE6 120%);

    }

    // Background center
    .reveal-background-2 {

        opacity: 0;
        background: $centerbanner;

    }

    .reveal-visible-background {

        opacity: 1;
        background: linear-gradient(60deg, #ffdc80, #fcaf45, #f77737, #f56040, #FD1D1D, #E1306C, #c13584 60%, #833AB4, #5851db , #405DE6 120%);
        transition: 1.5s cubic-bezier(.5, 0, 0, 1);

    }

    .reveal-visible-background-2 {

        opacity: 1;
        background: $centerbanner;
        transition: 500ms cubic-bezier(.5, 0, 0, 1);

    }






    .reveal-L--title { 

        opacity: 0;
        transform: translateY(150px);

    }

    .reveal-R--title {

        opacity: 0;
        transform: translateY(150px);

    }

    .reveal-L--title-2 { 

        opacity: 0;
        transform: translateY(150px);

    }

    .reveal-R--title-2 {

        opacity: 0;
        transform: translateY(150px);

    }

    .reveal-L--title-3 { 

        opacity: 0;
        transform: translateY(50px);

    }

    .reveal-R--title-3 {

        opacity: 0;
        transform: translateY(50px);

    }

    .reveal-visible-L--title {

        opacity: 1;
        transform: translateY(0);
        transition: 1s cubic-bezier(.5, 0, 0, 1);

    }

    .reveal-visible-R--title {

        opacity: 1;
        transform: translateY(0);
        transition: 1s cubic-bezier(.5, 0, 0, 1);

    }

    .reveal-visible-L--title-2 {

        opacity: 1;
        transform: translateY(0);
        transition: 1.2s cubic-bezier(.5, 0, 0, 1);

    }

    .reveal-visible-R--title-2 {

        opacity: 1;
        transform: translateY(0);
        transition: 1.2s cubic-bezier(.5, 0, 0, 1);

    }

    .reveal-visible-L--title-3 {

        opacity: 1;
        transform: translateY(0);
        transition: 1.5s cubic-bezier(.5, 0, 0, 1);

    }

    .reveal-visible-R--title-3 {

        opacity: 1;
        transform: translateY(0);
        transition: 1.5s cubic-bezier(.5, 0, 0, 1);

    }






    .reveal-POP {

        opacity: 0;

    }

    .reveal-POP-2 {

        opacity: 0;

    }

    .reveal-visible-POP {

        opacity: 1;
        transition: 1.8s cubic-bezier(.5, 0, 0, 1);

    }

    .reveal-visible-POP-2 {

        opacity: 1;
        transition: 2.2s cubic-bezier(.5, 0, 0, 1);

    }






    // Effect light social Network's
    .effectLight01 {

        opacity: 0;

    }

    .effectLight02 {

        opacity: 0;

    }

    .effectLight03 {

        opacity: 0;

    }

    .effectLight04 {

        opacity: 0;

    }

    // Effect light social Network's
    .effectLight01-visible {

        opacity: 1;
        transition: 5s;

    }

    .effectLight02-visible {

        opacity: 1;
        transition: 7s;

    }

    .effectLight03-visible {

        opacity: 1;
        transition: 9s;

    }

    .effectLight04-visible {

        opacity: 1;
        transition: 11s;

    }

}


// ##############################  _1one.scss  #####################################################################
// breakpoint

// WIDTH
@media only screen and (max-width: 1200px) {

    // TOP BAR
    .topbar-logo {
        display: none;
    }

    .topbar-nav::before {
        display: none;
    }

    .topbar {

        margin: 1.5em 0 0 0;
        
        .topbar-nav {
            
            display: flex;
            justify-content: space-around;
            
            & ul {
    
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 100%;

                margin: 0 2em;
                

                & li {
      
                    margin-left: 0em;
    
                    
                    &:first-child {
        
                        margin-left: 0;
        
                    }
        
                }
            }
    
        }
    
    }

    // HEADER
    .header {

        & .header-text {

            & h1 {

                font-size: 35px;
                min-width: 370px;
                margin-bottom: 0px;

            }

            & h2 {

                font-size: 19px;

            }

            & a {

                max-width: 140px;
                font-size: 16px;
                margin-top: 30px;

            }

        }

        & .header-text-effect {

            font-family: 'Courier New', Courier, monospace;
            font-weight: 100;
            opacity: 0.5;
            font-size: 31px; // 4px decart avec h1
    
        }

    }

}

@media only screen and (max-width: 1000px) {
    
    
    .header {

        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        height: 100vh;

        & .header-text {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            width: 100%;

            & h1 {

                margin: 20px 0 0 0;
                max-width: 100%;
                width: 80vw;

                text-align: center;

            }

            & h2 {

                margin: 0;
                max-width: 100%;
                width: 80vw;

                text-align: center;

            }

            & a {

                padding: 15px 15px;
                margin: 52px 0 0 0;

                width: 90vw;
                height: auto;
                min-width: 350px;
                max-width: 600px;

                border-radius: 5px;

                & p {

                    font-size: 20px;
                    margin: 0;
                    
                }
                
            }

        }

    }

    .header-picture {

        width: 90vw;
        height: auto;

        min-width: 350px;
        max-width: 600px;

    }

    .header-arrow {

        display: flex;
        justify-content: center;
        margin-bottom: 1px;
    
    
        & img {
    
            width: 16px;
            height: 8px;

            opacity: 0.4;
    
        }
    
    }
    
    // - ANIMATION arrow -
    .header-arrow img {

    
        @keyframes bounce {
            0%, 20%, 53%, 80%, 100% {

                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transform: translate3d(0,0,0);

            }
            40%, 43% {

                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transform: translate3d(0, -10px, 0);

            }
            70% {

                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transform: translate3d(0, -4px, 0);

            }
            90% {

                transform: translate3d(0,-1px,0);
            }
        }
        
        @keyframes bounce {
            0%, 20%, 53%, 80%, 100% {

                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                transform: translate3d(0,0,0);

            }
            40%, 43% {

                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transform: translate3d(0, -10px, 0);

            }
            70% {

                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
                transform: translate3d(0, -4px, 0);

            }
            90% {

                 transform: translate3d(0,-1px,0);
                
            }
        } 

    }

    .topbar {

        margin: 16px 10px;

        .topbar-nav {

            & ul {

                margin: 0;

            }

            & li {

                &:hover {

                    transform: scale(1);
    
                    text-decoration: underline;
                    text-underline-position: under;
    
                }

            }

        }

    }


}

@media only screen and (max-width: 500px) {

    .topbar {

        margin: 16px 10px;

        & .topbar-nav {

            & ul {

                & li {

                    & a {

                        font-size: 14px;

                    }

                }

            }

        }

    }

    .header {

        & .header-text {

            & h1 {

                width: 100vw;

            }

            & h2 {

                width: 100vw;

            }

            & a {

                & p {

                    font-size: 18.5px;
                    margin: 0;
                    
                    width: 100%;

                }
                
            }

        }

    }

}

@media only screen and (max-width: 400px) {

    .topbar {
        
        margin: 16px 10px 32px 10px;

        & .topbar-nav {

            & ul {

                margin: 0;

                & li {

                    & a {

                        font-size: 11px;

                    }

                }

            }

        }

    }

    .header {

        height: 65vh;

        & .header-text {

            & .textEffect {

                width: 100vw;
                font-size: 30px;
                min-height: 30px;
                height: 50px;

            }

            & h2 {

                width: 100%;
                margin: 0;
                padding: 0;

                font-size: 17px;
            }

            & a {

                padding: 15px 0;
                min-width: 1px;

                & p {

                    font-size: 17px;

                }
                
            }

        }

        & .header-text-effect {

            font-family: 'Courier New', Courier, monospace;
            font-weight: 100;
            opacity: 0.5;
            font-size: 26px; // 4px decart avec h1
    
        }

    }

    .header-picture {

        width: 90vw;
        height: auto;

        min-width: 250px;

    }

}


// HEIGHT ALL
@media only screen and (max-height: 950px) and (max-width: 1000px) {

    .header-picture {

        width: 100%;
        height: auto;

        min-width: 250px;
        max-width: 500px;
    }
    
    .header {

        .header-text {

            & .textEffect {

                min-height: 55px;  

            }

            & a {

                width: 95vw;
                height: auto;
        
                min-width: 250px;
                max-width: 500px;

            }

        }

    }

    .topbar {

        margin: 16px 10px 0 10px;

    }

}

@media only screen and (max-height: 800px) and (max-width: 1000px) {

    .header-picture {

        width: 100%;
        height: auto;

        min-width: 250px;
        max-width: 400px;
    }
    
    .header {

        .header-text {

            & .textEffect {

                min-height: 55px;
                font-size: 35px;   

            }

            & .header-text-effect {

                font-size: 31px;

            }

            & h2 {

                font-size: 17px;

            }

            & a {

                width: 95vw;
                height: auto;
        
                min-width: 250px;
                max-width: 400px;

                margin-top: 25px;

                padding: 11px 0;

                & p {

                    font-size: 16px;

                }

            }

        }

    }

    .topbar {

        margin: 16px 5px 16px 5px;

        & .topbar-nav {

            & ul {

                & li {

                    & a {

                        font-size: 14px;

                    }

                }

            }

        }

    }

}

@media only screen and (max-height: 650px) and (max-width: 1000px) {

    .header-picture {

        width: 100%;
        height: auto;

        min-width: 250px;
        max-width: 300px;
    }
    
    .header {

        .header-text {

          

            & .textEffect {

                min-height: 45px;
                font-size: 27px;   

            }

            & .header-text-effect {

                font-size: 23px;

            }

            & h2 {

                font-size: 14px;

            }

            & a {

                width: 95vw;
                height: auto;
        
                min-width: 250px;
                max-width: 300px;

                margin-top: 23px;
                margin-bottom: 10px;

                padding: 9px 0;

                & p {

                    font-size: 14px;

                }

            }

        }

    }

    .topbar {

        margin: 10px 5px 10px 5px;

        & .topbar-nav {

            & ul {

                & li {

                    & a {

                        font-size: 12px;

                    }

                }

            }

        }

    }

}

@media only screen and (max-height: 500px) and (max-width: 1000px) {

    .header-picture {

        width: auto;
        height: 60vh;

        min-width: 0;
        max-width: 100%;

        filter: drop-shadow(0 -6mm 4mm rgba(160, 0, 210, 0));
    }
    
    .header {

        .header-text {

            & .textEffect {

                min-height: 20px;
                max-height: 28px;

                font-size: 20px;   

                margin-top: 6vh;

            }

            & .header-text-effect {

                font-size: 16px;

            }

            & h2 {

                font-size: 10px;

            }

            & a {

                width: 55vh;
                height: auto;
        
                min-width: 55vh;
                max-width: 100%;

                margin-top: 5vh;
                margin-bottom: 5vh;

                padding: 7px 0;

                border-radius: 5px;
                font-size: 10px;

            }

        }

    }

    .header-arrow {

        & img {

            width: 12px;
            height: 6px;

        }

    }

    .topbar {

        margin: 8px 12px 15px 12px;

        & .topbar-nav {

            & ul {

                margin: 0;

                & li {

                    & a {

                        font-size: 11px;

                    }

                }

            }

        }

    }

}

@media only screen and (max-height: 350px) and (max-width: 1000px) {

    .header-picture {

        width: auto;
        height: 50vh;

    }
    
    .header {

        .header-text {

            & .textEffect {

                font-size: 18px;   

            }

            & .header-text-effect {

                font-size: 14px;

            }

            & h2 {

                font-size: 8px;

            }

            & a {

                width: 50vh;
                height: auto;
        
                min-width: 50vh;

                padding: 5px 0;

                & p {

                    font-size: 9px;

                }

            }

        }

    }

    .topbar {

        margin: 8px 12px 15px 12px;

        & .topbar-nav {

            & ul {

                margin: 0;

                & li {

                    & a {

                        font-size: 9px;

                    }

                }

            }

        }

    }

}


@media only screen and (max-width: 300px) {

    .topbar {

        & .topbar-nav {

            & ul {

                & li {

                    & a {
                        
                        font-size: 10px;

                    }

                }

            }

        }

    }

}


// HEIGHT XL DESKTOP
@media only screen and (min-height: 1080px) and (min-width: 1001px) {

    header {

        min-height: 1080px;

    }

}
// HEIGHT SMALL DESKTOP
@media only screen and (max-height: 1080px) and (min-width: 1001px) {

    header {

        min-height: 850px;

    }

}






// ##############################  _2two.scss  #####################################################################
// breakpoint

@media only screen and (max-width: 1080px) and (min-width: 0px) {

    // CONTAINER
    .about {

        flex-direction: column;
        margin: 6.5em 1em 15em 1em;
        align-items: center;

    }

    // Content LEFT
    aside {

        margin: 0;

        

        & .about-text_networks {

            width: 80vw;


            & .about-text {

                font-size: 20px;

                display: flex;
                justify-content: center;
                width: 100%;
                padding: 0;
                margin-top: 2.5em;

                & tr {

                    & tr, :first-child {

                        margin-right: 5em;

                    }

                }
    
            }
        }
    }

    #nav-link-1 img {

        width: 80vw;
        height: auto;

        max-width: 100%;

    }

    // Content RIGHT
    article {

        width: 80vw;
        padding: 150px 0 0 0;

        & .aboutMe {

            & h2 {

                font-size: 5vw;
    
            }
    
            & h3 {
    
                font-size: 2vw;
                white-space: nowrap;
                
                margin: 60px 0; 
                  
            }
    
            & h4 {
    
                font-size: 2vw;
                white-space: nowrap;
                
                margin: 60px 0; 

            }

            & > p {

                margin: 0 0 3em 0;
                height: 100%;
                text-align: justify;
                color: $gray;
                font-weight: 300;
    
            }

        }

    }

    .aboutMe-downloadcv a {

        margin-top: 5em;

    }

}

@media only screen and (max-width: 770px) {

    .nameskill {

        font-size: 1vw;

    }

    .progress-line span::before {
    
        display: none;
    
    }
    
    .progress-line span::after {
    
        display: none;

    }

    aside {

        & .about-text_networks {

            & .about-text {

                font-size: 18px;
            }    
        }
    }

}

@media only screen and (max-width: 650px) {

    
    aside {

        & .about-text_networks {

            & .about-text {

                font-size: 16px;
            }    
        }
    }

}

@media only screen and (max-width: 590px) {

    
    aside {

        & .about-text_networks {

            & .about-text {

                font-size: 13.5px;
            }    
        }
    }

    article {

        .aboutMe {

            & h3 {
    
                font-size: 3vw;
                white-space: nowrap;
                
                margin: 60px 0; 
                  
            }
    
            & h4 {
    
                font-size: 3vw;
                white-space: nowrap;
                
                margin: 60px 0; 

            }

        }

    }

}

@media only screen and (max-width: 500px) {

    aside {

        & .about-text_networks {

            & .about-text {

                display: none;
        
            }

            & hr {

                margin-top: 20px;

            }
        }
    }

    aside::after {

        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgb(114, 114, 114, .3);

        margin-top: 6em;

    }

    article {

        padding-top: 80px;
   
        & .aboutMe {

            & h3 {
    
                font-size: 3vw;
                white-space: nowrap;
                width: 62%;
                  
            }
    
            & h4 {
    
                font-size: 3vw;
                white-space: nowrap;
                width: 62%;    

            }
        }    
    }
}

@media only screen and (max-width: 400px) {

    .about {

        height: 1850px;
        margin: -9em 10em -4em 10em;

    }

    article {

        & .aboutMe {

            
            & h2 {

                font-size: 6vw;
                letter-spacing: 6px;
    
            }

            & h3 {
    
                font-size: 3vw;
                white-space: nowrap;
                
                letter-spacing: 8px;
                  
            }
    
            & h4 {
    
                font-size: 3vw;
                white-space: nowrap;   
               
                margin-bottom: 65px;

            }
        }    

    }

}






// ##############################  _3three.scss  #####################################################################
// breakpoint

@media only screen and (max-width: 1200px) and (min-width: 0) {

    .EXP {

        padding: 6em 5em 6em 5em;

    }
}

@media only screen and (max-width: 850px) and (min-width: 0) {

    .EXP {

        padding: 6em 5em 6em 5em;

        &-legend {

            & h2 {

                font-size: 5vh;

    
                &::first-letter {
    
                    font-size: 50px;

                }
    
                & span {

                    font-size: 35px;
    
                }
    
                & em {

                    display: block;
                    margin-top: 2em;
                    font-size: 18px;
    
                }
    
            }
    
    
            & h3 {
    

                color: $gray;
    
            }
        }
    }

}

@media only screen and (max-width: 700px) and (min-width: 0) {

    .EXP {

        padding: 6em 2em 6em 2em;

    }

}

@media only screen and (max-width: 605px) {

    .EXP {

        padding: 0 1em;
        height: 140vh;
        min-height: 1345px;

        &-legend {

            & h3 {

                margin-bottom: 30px;
                white-space: pre-line;
                line-height: 25px;
                font-size: 14px;

            }

            & h2 {

                & em {

                    font-size: 19px;
    
                }

            }

        }

    }

    #EXP-list {

        flex-direction: column;

        
        & h4 {

            margin-top: 2em;

        }

    }

}

@media only screen and (max-width: 550px) {

    .EXP {

        padding: 0 1em;
        height: 130vh;

        &-legend {

            & h2 {

                & em {

                    font-size: 16px; 
                    white-space: pre-line;
                    line-height: 25px;
    
                }

            }

            & h3 {

                margin-bottom: 30px;
                white-space: pre-line;
                line-height: 25px;

            }

        }

    }

    #EXP-list {

        flex-direction: column;

        
        & h4 {

            margin-top: 2em;

        }

    }

    .EXP-list-L {

        margin-right: 0em;
        position: relative;
    
    }

    .EXP-list-L > :nth-child(4)::after {

        display: block;
        content: '';

        width: 100%;
        height: 1px;

        background-color: rgba(114, 114, 114, .3);

        position: absolute;
        bottom: 0em;

    }

}




// @media only screen and (max-width:) and (min-width:) { }


// ##############################  _4four.scss  #####################################################################
// breakpoint

// ******************** config for all ***************************
@media only screen and (max-width: 1110px) and (min-width: 0) {

    .project {

        display: block;
        margin: 0 2em;

        & h2 {

            margin-bottom: 1em;

        }

        & a {


            line-height: 40px;

        }

        & strong {

            display: block;
            width: 100%;
            text-align: center;

        }

        & strong > :nth-child(1) {

            margin-left: 5px;
            padding-left: 0;

        }
    }

    .moreinfo {

        display: block;

        & > a {

            & p {

                text-align: center;

            }

        }

    }

    .slider {

        margin: 0 0em 24em 0em;

        width: 100%;

    }

    #s-1:checked ~ .slider .slider_item.img-1,
    #s-2:checked ~ .slider .slider_item.img-2,
    #s-3:checked ~ .slider .slider_item.img-3,
    #s-4:checked ~ .slider .slider_item.img-4,
    #s-5:checked ~ .slider .slider_item.img-5,
    #s-6:checked ~ .slider .slider_item.img-6,
    #s-7:checked ~ .slider .slider_item.img-7 {
    
        padding: 0;

    }

    figcaption {
     
        left: 0;
        text-align: center;
       
        width: 100%;
        white-space: nowrap;

    }
    
}

@media only screen and (max-width: 900px) and (min-width: 0) {

    .slider {

        margin-bottom: 19em;

    }

    .slider_img {

        width: 100%;
        height: 80%;

        position: relative;
        overflow: hidden;

    }

    // Controle position NAVIGATION
    .slider_nav {

        position: absolute;
        left: 0;
        top: 75%;
        width: 100%;
        transform: translate3d(0, -50%, 0);

        z-index: 99999;

    }


    // Controle position INDICATOR NAV
    .slider_indicator {

        position: absolute;
        left: 0;
        top: 74%;
        width: 100%;
        text-align: center;
        margin-top: 1em;

    }

}

@media only screen and (max-width: 710px) and (min-width: 0) {

    .slider {

        margin-bottom: 11em;

    }

    .slider_img {

        width: 100%;
        height: 65%;

        position: relative;
        overflow: hidden;

    }

    // Controle position NAVIGATION
    .slider_nav {

        position: absolute;
        left: 0;
        top: 60%;
        width: 100%;
        transform: translate3d(0, -50%, 0);

        z-index: 99999;

    }


    // Controle position INDICATOR NAV
    .slider_indicator {

        position: absolute;
        left: 0;
        top: 59%;
        width: 100%;
        text-align: center;
        margin-top: 1em;

    }
}

@media only screen and (max-width: 410px) and (min-width: 0) {

    
    .project {

        display: block;
        margin: 0 2em;

        & h2 {

            font-size: 35px;

            &::first-letter {
             
                font-size: 40px;

            }
        }
    }

    .slider {

        margin-bottom: 5em;

    }
    
    .slider_img {

        width: 100%;
        height: 50%;

        position: relative;
        overflow: hidden;

    }

    // Controle position NAVIGATION
    .slider_nav {

        position: absolute;
        left: 0;
        top: 45%;
        width: 100%;
        transform: translate3d(0, -50%, 0);

        z-index: 99999;

    }

    // Controle position INDICATOR NAV
    .slider_indicator {

        position: absolute;
        left: 0;
        top: 44%;
        width: 100%;
        text-align: center;
        margin-top: 1em;

    }

    #s-1:checked ~ .slider .slider_item.img-1,
    #s-2:checked ~ .slider .slider_item.img-2,
    #s-3:checked ~ .slider .slider_item.img-3,
    #s-4:checked ~ .slider .slider_item.img-4,
    #s-5:checked ~ .slider .slider_item.img-5,
    #s-6:checked ~ .slider .slider_item.img-6,
    #s-7:checked ~ .slider .slider_item.img-7 {
    
        padding: 0;

    }

    figcaption {
     
        left: 0;
        text-align: center;
       
        width: 100%;
        white-space: nowrap;

    }
    
    .slider-indi {

        position: relative;
        display: inline-block;
        padding: 0.7rem;
        cursor: pointer;
    
    }


}

@media only screen and (max-width: 390px) {

    .slider-indi {

        position: relative;
        display: inline-block;
        padding: 0.5rem;
        cursor: pointer;
    
    }

    .moreinfo {

        li {

            font-size: 12px;
    
        }

    }

    // Label project 
.h3 {

    margin-top: 4.8rem;
    margin-bottom: 1.8rem;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid $bluesky;
    font-size: 1rem;

    & .c-label {

        display: inline-block;
        color: #eee;
        background-color: rgba(108, 176, 246, 0.9);
        border-radius: 5px;
        line-height: 1;
        padding: 0.5em 0.7em;
        margin-right: 0.5em;
        font-size: 1rem;
        font-weight: bold;

    }

}

}



// ******************** config for Screen HEIGHT ***************************
@media only screen and (max-height: 950px) and (min-width: 0) {

    .slider {

        margin-bottom: 24em;

    }

    .slider_img {

        width: 100%;
        height: 90%;

        position: relative;
        overflow: hidden;

    }

    // Controle position NAVIGATION
    .slider_nav {

        position: absolute;
        left: 0;
        top: 87%;
        width: 100%;
        transform: translate3d(0, -50%, 0);

        z-index: 99999;

    }


    // Controle position INDICATOR NAV
    .slider_indicator {

        position: absolute;
        left: 0;
        top: 87%;
        width: 100%;
        text-align: center;
        margin-top: 1em;

    }
}

@media only screen and (max-height: 500px) and (min-width: 0) {

    .slider {

        margin-bottom: 24em;

    }

    .slider_img {

        width: 100%;
        height: 60%;

        position: relative;
        overflow: hidden;

    }

    // Controle position NAVIGATION
    .slider_nav {

        position: absolute;
        left: 0;
        top: 65%;
        width: 100%;
        transform: translate3d(0, -50%, 0);

        z-index: 99999;

    }


    // Controle position INDICATOR NAV
    .slider_indicator {

        position: absolute;
        left: 0;
        top: 64%;
        width: 100%;
        text-align: center;
        margin-top: 1em;

    }
}

// ##############################  _5five.scss  #####################################################################



// Responsive ok 



// ##############################  _6six.scss  #####################################################################

@media only screen and (max-width: 1500px) {

    .footer {

        margin: 10em 5em 0 5em;

    }

    .formulaire {

        width: 50%;
        margin-right: 5em;

    }

}

@media only screen and (max-width: 1350px) {

    .footer {

        margin: 10em 5em 0 5em;

    }

    .formulaire {

        width: 50%;
        margin-right: 5em;

    }

}

@media only screen and (max-width: 1100px) {

 

    .formulaire {

        width: 50%;
        margin-right: 5em;

    }

}

@media only screen and (max-width: 900px) {

    .footer {

        margin: 10em 2em 0 2em;

    }

    .formulaire {

        width: 50%;
        margin-right: 2em;

    }

}

@media only screen and (max-width: 800px) {

    .footer-form_contact {

        flex-direction: column;
        align-items: center;

    }

    .formulaire {

        width: 100%;
        margin-right: 0em;
        margin-bottom: 2.5em;

    }

    .buttonsubmit {

        margin: 1em 10%;
        width: 80%;

        & button {

            width: 100%;

        }

    }    

    .contact-text_map {

        width: 100%;
        //margin-top: 80px;

        & .contact-text {

            display: flex;
            flex-direction: column;
            justify-content: center;

            margin-bottom: 2em;

            & .icontxt {

                display: flex;
                justify-content: center;

                & img {
        
                    width: 10px;
                    height: auto;

                    margin-right: 2em;

                }

                & p {

                    font-size: 14px;
                    width: 237px;

                }

            }

            //modifier icon IMG
            & :last-child img {

                width: 8px;
            

            }   

        }

        & .MAP-S,
        .MAP {

            align-self: center;

        }

    }

}

@media only screen and (max-width: 675px) {

    .footer {

        &-legend {

            //margin: 0 0 29px 185px;
            
            & h2 {
    
                font-size: 40px;

                &::first-letter {
    
                    font-size: 50px;

                }
    
                & span {

                    font-size: 35px;

                }
    
                & em {
                    
                    display: block;
                    font-size: 18px;
                    margin-top: 2em;
                    margin-left: 0;

                }
    
            }
    
            & h3 {
    
                margin: 0 0 70px 0 ;
                color: $gray;
                font-weight: 300;
                letter-spacing: 1.5px;
                font-style: italic;
    
            }
    
        }

    }

}    

@media only screen and (max-width: 450px) {

    .footer {

        &-legend {

            //margin: 0 0 29px 185px;
            
            & h2 {
    
                font-size: 40px;

                &::first-letter {
    
                    font-size: 50px;

                }
    
                & span {

                    font-size: 35px;

                }
    
                & em {
                    
                    display: block;
                    font-size: 15px;
                    margin-top: 2em;
                    margin-left: 0;

                    letter-spacing: 7px;

                }
    
            }
    
            & h3 {
    
                font-size: 11px;

                height: 50px;

                margin-bottom: 30px;
    
            }
    
        }

    }

}

@media only screen and (max-width: 400px) {

    /*.contact-text_map {

        display: none;

    }
    */
    .formulaire {

        margin-bottom: 2.5em;

    }

}




//  ####################  Optimisation en version mobile  ##################################  

@media only screen and (max-width: 600px) and (min-width: 0px) and (max-height: 900px) { 

    .aboutMe-downloadcv {

        & a {

            max-width: 120px;
            max-height: 50px;
    
            font-size: 12px;

            & p {

                padding: 10px 7px;

            }

        }    
    } 

    .aboutMe > p {

        font-size: 14px;

    }
    
    .skill-bars {

        .bar {

            .info {

                span {

                    font-size: 11px;

                }

            }

        }

    }

    .EXP {

        &-legend {

            & h2 {

                text-align: center;

                font-size: 25px;

                &::first-letter {

                    font-size: 35px;

                }

                & em {

                    font-size: 16px;
                    letter-spacing: 3px;
    
                }

                & span {

                    font-size: 20px;

                }
            }

            & h3 {

                text-align: center;

                font-size: 12px;

            }

        }

    }

    #EXP-list {

  
        & h4 {
            text-align: center;
            background-color: $bluesky;
            border-radius: 5px;
            color: white;
            padding: 5px 0;

            font-size: 22px;
    
        }
    
        & p {
    
            font-size: 13px;

        }
    
        & strong {
    
            font-size: 18px;

        }
    
    }

    .project {


    
        & h2 {
    
            margin: 0 0 2em 0;
            
        }
    
        & strong {

            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            & :nth-child(1) {

                width: 125px;
                margin-left: 15px;

            }

            & a {

                display: block;
                width: 125px;
                font-size: 12px;
                padding: 0;
                margin: 0;
                letter-spacing: 1px;
                
            }

            
            & a + a {

                margin-left: 15px;

            }
    
        }
    
    }

    // Label project 
    .h3 {

        font-size: 15px;

        & .c-label {

            font-size: 16px;
            padding-bottom: 5px;
        }

    }

    // flexbox CREDIT and BUTTON
    .moreinfo {

        & li {

            font-size: 12px;

        }

        & strong {

            font-size: 14px;

        }
        
        & a {

            font-size: 16px;

        }

        & > a {



            & p {
        
                font-size: 12px;

                &:hover {
    
                    transform: scale(1.1);
                    box-shadow: 0px 0px 30px 0px $bluesky;
                    filter: saturate(300%);
                }    

            }
        
        }

    }

    // TITLE
    .slider__caption {

        font-size: 20px;
    
    }

    // TEXTE
    .slider__txt {

        font-size: 14px;
        

    }

    // PICTURE
    .slider__picture  {

        max-width: 190px;
        height: auto;
        border-radius: 50%;
        border: 2px solid $bluesky;
    
    }

    .slider__nav {


        width: 8px;
        height: 8px;
        margin-bottom: 14em;

    }

    .footer {

        & h3 {

            text-align: center;

            font-size: 10px;
            line-height: 18px;

        }

        &-legend {
    
            //margin: 0 0 29px 185px;
            
            & h2 {
                
                text-align: center;

                font-size: 25px;

                margin-bottom: 35px;
    
                &::first-letter {

                    font-size: 35px;

                }
    
                & span {
    
                    font-size: 19px;

                }
    
                & em {

                    font-size: 13px;

                }
    
            }
    
        }
    
    }

    .formulaire {

        margin-bottom: 2.5em;

       & input,
         textarea {

        font-size: 10px;

       }

       & textarea {

        padding-top: 1em; 

       }

    }

    .buttonsubmit {

        & button {

            font-size: 12px;
            border-radius: 5px;

        }

    }

    // TEXT AND MAP
    .contact-text_map {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        //margin-top: 80px;

        & .contact-text {

            display: flex;
            flex-direction: column;
            justify-content: center;

            margin-bottom: 2.5em;

            & .icontxt {

                display: flex;
                justify-content: center;

                & img {
        
                    width: 10px;
                    height: auto;

                    margin-right: 2em;

                }

                & p {

                    font-size: 14px;
                    width: 237px;

                }

            }

            //modifier icon IMG
            & :last-child img {

                width: 8px;
                

            }   

        }

        & .MAP,
        .MAP-S {

            align-self: center;

        }

    }

    // FOOTER COPYRIGHT 
    .footer-copyright {

        font-size: 8px;
        
        & p {

            margin-bottom: 6px;

        }

    }

}

// switch map --> small map
@media only screen and (max-width: 420px) {

     // switch small map

     .MAP {

        display: none;

    }

    .MAP-S {

        display: block;

    }

}


@media only screen and (max-width: 343px) {

    
    .project {


    
        & h2 {
    
            margin: 0 0 2em 0;
            
        }
    
        & strong {

            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            & :nth-child(1) {

                width: 125px;
                margin-left: 15px;

            }

            & a {

                display: block;
                width: 125px;
                font-size: 12px;
                padding: 0;
                margin: 0;
                letter-spacing: 1px;
                
            }

            
            & a + a {

                margin-left: 15px;

            }
    
        }
    
    }

}


@media only screen and (max-width: 343px) and (max-height: 800px) {

    
    .project {


    
        & h2 {
    
            margin: 0 0 2em 0;
            
        }
    
        & strong {

            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            & :nth-child(1) {

                width: 125px;
                margin-left: 0px;

            }

            & a {

                display: block;
                width: 125px;
                font-size: 12px;
                padding: 0;
                margin: 0;
                letter-spacing: 1px;
                
            }

            
            & a + a {

                margin-left: 0px;

            }
    
        }
    }

}

