// VIEWPORT 1 - 6 ;
@import "_1one.scss";
@import "_2two.scss";
@import "_3three.scss";
@import "_4four.scss";
@import "_5five.scss";
@import "_6six.scss";

// RESPONSIVE ;
@import "_responsive.scss";
// @import "_responsiveTABLETTE.scss";
// @import "_responsiveMOBILE.scss";

// Dont use for now
@import "../Utils/_variables.scss";
